<h1>Leetspeek-Translator</h1>

<h3>Hier den zu übersetzenden Text eingeben:</h3>

<textarea type="text"
          cols="60"
          rows="10"
          placeholder="Text zum Übersetzen"
          [(ngModel)]="eingabeText" ></textarea>

<br><br>

<button (click)="onUebersetzenButton()" >Nach Leetspeek übersetzen</button>
&nbsp;
<button (click)="onLoeschenButton()"    >Eingabefeld löschen</button>

<br><br>

<h3>Übersetzungsergebnis:</h3>

<textarea type="text"
          cols="60"
          rows="10"
          placeholder="Hier erscheint das Übersetzungsergebnis"
          readonly="readonly"
          [(ngModel)]="ausgabeText" ></textarea>

<br><br>

<button (click)="onZwischenablageButton()">In Zwischenablage kopieren</button>

<br>